# {{#if (and (neq qualifiedName "dqo") (neq qualifiedName ""))}}dqo{{qualifiedName}}{{/if}} {{rootCommandName}} command
The reference of the **{{rootCommandName}}** command in DQOps. {{rootCommandDescription}}

{{#each commands}}

___

## dqo{{#if (and (neq qualifiedName "dqo") (neq qualifiedName ""))}} {{qualifiedName}}{{/if}}
{{#each header}}
{{this}}
{{/each}}

**Description**

{{#each description}}
{{this}}
{{else}}
For this command description is not provided yet.
{{/each}}

{{#if (eq rootCommandName "dqo")}}
**Command line sample**

```
$ dqo [root_level_parameter] [command]
```

**Example**

```
$ dqo --dqo.cloud.api-key=3242424324242 check run -c=connection_name
```

{{#if options}}
**Options**

| Command&nbsp;argument&nbsp;&nbsp;&nbsp;&nbsp; | Description | Required | Accepted values |
|-----------------------------------------------|-------------|:-----------------:|-----------------|
{{#each options}}|{{#each names}}<div id="{{qualifiedName}}{{this}}">`{{this}}`</div>{{/each}}|{{#each description}}{{this}}<br/>This parameter can also be configured by setting the {{#each names}}*{{upper (replace (replace (replace this "--" "") "." "_") "-" "_")}}*{{/each}} environment variable.{{/each}}|{{checkmark required}}|{{#each acceptedValues}}*{{this}}*<br/>{{/each}}|
{{else}}
{{/each}}
{{else}}
{{/if}}
{{else}}

**Command-line synopsis**

```
$ dqo [dqo options...]{{{synopsis}}}
```

**DQOps shell synopsis**

```
dqo>{{{synopsis}}}
```

{{#if options}}

**Command options**

All parameters supported by the command are listed below.

| Command&nbsp;argument&nbsp;&nbsp;&nbsp;&nbsp; | Description | Required | Accepted values |
|-----------------------------------------------|-------------|:-----------------:|-----------------|
{{#each options}}|{{#each names}}<div id="{{qualifiedName}}{{this}}" class="no-wrap-code">`{{this}}`</div>{{/each}}|{{#each description}}{{{replace this ":mm" "\:mm"}}}{{/each}}|{{checkmark required}}|{{#each acceptedValues}}*{{this}}*<br/>{{/each}}|
{{else}}
{{/each}}
{{else}}
{{/if}}
{{/if}}

{{/each}}
