# {{rootCommandName}}
{{#each commands}}
___
### **dqo {{qualifiedName}}**
{{#each header}}
{{this}}
{{/each}}
**Description**
{{#each description}}
{{this}}
{{else}}
For this command description is not added yet.
{{/each}}
{{#if (eq rootCommandName "dqo")}}
**Summary (CLI)**
```
$ dqo [root_level_parameter] [command]
```
**Example**
```
$ dqo --dqo.cloud.api-key=3242424324242 check run -c=connection_name
```
{{#if options}}
**Options**{{#with "  "}}{{.}}{{/with}}
{{#with "  "}}{{.}}{{/with}}
| Command&nbsp;argument&nbsp;&nbsp;&nbsp;&nbsp; | Description | Required | Accepted values |
|-----------------------------------------------|-------------|:-----------------:|-----------------|
{{#each options}}|{{#each names}}<p id="{{qualifiedName}}{{this}}">`{{this}}`</p><br/>{{/each}}|{{#each description}}{{this}}<br/>This parameter could be also configured by setting {{#each names}}{{upper (replace (replace (replace this "--" "") "." "_") "-" "_")}}{{/each}}  environment variable.{{/each}}|{{#if required}}:material-check-bold:{{else}} {{/if}}|{{#each acceptedValues}}{{this}}<br/>{{/each}}|
{{else}}
{{/each}}
{{else}}
{{/if}}
{{else}}
**Command-line synopsis**
```
$ dqo [dqo options...]{{{synopsis}}}
```
**DQOps Shell synopsis**
```
dqo>{{{synopsis}}}
```
{{#if options}}
**Options**{{#with "  "}}{{.}}{{/with}}
{{#with "  "}}{{.}}{{/with}}
| Command&nbsp;argument&nbsp;&nbsp;&nbsp;&nbsp; | Description | Required | Accepted values |
|-----------------------------------------------|-------------|:-----------------:|-----------------|
{{#each options}}|{{#each names}}<p id="{{qualifiedName}}{{this}}">`{{this}}`</p><br/>{{/each}}|{{#each description}}{{replace this ":mm" "\:mm"}}{{/each}}|{{#if required}}:material-check-bold:{{else}} {{/if}}|{{#each acceptedValues}}{{this}}<br/>{{/each}}|
{{else}}
{{/each}}
{{else}}
{{/if}}
{{/if}}
{{/each}}