---
title: Reference of all operations used by DQOps REST API
---
# Reference of all operations used by DQOps REST API
This is a list of the operations in DQOps REST API Python client broken down by individual groups of operations.

{{#each controllerOperations}}
## {{superiorClassSimpleName}}
{{superiorDescription}}

|&nbsp;Operation&nbsp;name&nbsp;|&nbsp;HTTP&nbsp;call&nbsp;|&nbsp;Description&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|
|----------------|------|---------------------------------|
{{#each operationObjects}}|<span class="no-wrap-code">[`{{operationPythonName}}`</span>](./{{superiorClassSimpleName}}.md#{{operationPythonName}})|{{apiCallMethod}}|{{operationDescription}}|
{{/each}}
{{/each}}
