---
title: {{header}}
---
# {{header}}

{{helpText}}

{{#each checkTargets}}
{{#each checks}}
{{#if (eq target ../this)}}
## {{../this}}-level {{categoryName}} checks
{{categoryHelp}}
{{#each checkGroups}}
### [{{primaryCheckName}}](/docs/checks/{{target}}/{{categoryName}}/{{replace primaryCheckName " " "-"}})
{{checkSpecClassJavaDoc}}

{{#if (eq checks.length 1)}}
| Data quality check name | Check type | Description | Standard |
|-------------------------|------------|-------------|----------|
{{#each allChecks}}|[<span class="no-wrap-code">`{{checkName}}`</span>](/docs/checks/{{target}}/{{categoryName}}/{{replace primaryCheckName " " "-"}}.md#{{replace checkName "_" "-"}})|[{{checkType}}](/docs/dqo-concepts/definition-of-data-quality-checks/{{checkTypeConceptPage}})|{{checkHelp}}|{{checkmark standard}}|
{{/each}}
{{/if}}
{{/each}}
{{else}}
{{/if}}
{{/each}}

{{/each}}
